body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}

header {
    width: 21cm;
    min-height: 29.7cm;
    background-color: #ffffff;
    padding: 2cm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 2cm;
}

/* Container para alinhar os elementos do cabeçalho */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o texto do cabeçalho */
    position: relative;
}

/* Estilo da caixa de nota */
.grade-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5cm;
    height: 2cm;
    border: 1px solid #000;
    border-radius: 8px; /* Borda arredondada */
    display: flex;
    justify-content: center;
    align-items: center;
}

.grade-box p {
    font-weight: bold;
    font-size: 0.6em;
    margin-top: -1.0cm;
    
}

header h1 {
    font-size: 0.8em;
    text-align:center ;
    
}

header h3 {
    font-size: .8em;
    text-align:center ;
}

header hr {
    border: none;
    border-top: 1px solid #000;
    width: 90%;
    margin-top: 0.1cm;
    margin-left: 60px;
    
}